.cardContainer {
  width: 18rem;
  font-size: 14px;
}

.links {
  text-align: right;
}

.spanElement1 {
  padding: 3px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  color: red;
}

.spanElement2 {
  padding: 3px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.deadline {
  float: right;
}

.scrollStyle {
  margin: 0px;
  padding: 0px;
  max-height: 100px;
  overflow-y: scroll;
}

.edit {
  background-color: #292b2c;
  color: white;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.edit:hover,
.edit:active {
  background-color: whitesmoke;
}
