.main {
  min-height: 85vh;
}

.google {
  background-color: #ea4335;
  width: 100%;
}

.facebook {
  background-color: #1877f2;
  width: 100%;
}

.linkedin {
  background-color: #1666c5;
  width: 100%;
}
